*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
}
  .main {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    overflow-y: scroll;
    background-color: #141922;
}

/* NAV*/

.logo {
    width: 100%;
    display: block;
}
.navleft {
    width: 225px;
    height: calc(100vh - 90px);
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo2 {
    display: none;
}
.logo2 img {
    width: 30px;
    margin: 5px 10px;
}
.logo img {
    margin: 18px;
    width: 135px;
}


/**inizio responsive**/

 /* da 0 a 575 */
 @media screen and (max-width: 575px) {
    .navleft {
        width: 40px;
    }
    .logo {
        display: none;
    }
    .logo2 {
        display: block;
        text-align: center;
    }
    .logo2 img {
        width: 25px;
        margin: 5px 10px;
    }
 }
 