/**reset**/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/** fine reset**/

/**common**/
button {
    all: unset;
    padding-right: 220px;
}

button h2{
    animation: animazionebottone 5s infinite
}

a {
    text-decoration: none;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

h4 {
    color: #464a51;
    font-size: 13px;
    font-weight: bold;
}

/**common**/

.container {
    width: 100vw;
    height: 100vh;
    background-color: #282828;
}

.main {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
    background-color: #141922;
    overflow-y: hidden;
}

/* NAV*/

.logo {
    width: 100%;
    display: block;
}

.navleft {
    width: 225px;
    height: calc(100vh - 90px);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.navigazione {
    overflow-y: scroll;
}

.logo2 {
    display: none;
}

.logo2 img {
    width: 30px;
    margin: 5px 10px;
}

.logo img {
    margin: 18px;
    width: 135px;
}

.home img {
    width: 22px;
    margin-right: 8px;
    margin-left: 20px;
   
}

.homeleft{
    border-left: 3px solid  #adff2f;
}

.containericon {
    display: flex;
    align-items: center;
    margin-top: 20px;
}


.color {
    color: white
}

.search {
    margin-top: 10px;
}

.text {
    font-size: 13px;
    color: #717171;
}

.text-color {
    color: white;
    font-size: 13px;
}

.playlist {
    margin-top: 25px;
    margin-left: 20px;
}

.plus {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: #a3a3a3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-right: 8px;
}

.col-list li {
    color: #717171;
    margin: 20px;
    list-style: none;
    font-size: 12px;
}

.dowloadicon {
    width: 15px;
    margin-right: 8px;
    margin-left: 20px
}

.col-list {
    overflow-y: auto;
    height: 200px;
}

hr {
    width: 170px;
    margin: 0 auto;
    margin-top: 10px;
}

.imgprofilo img {
    width: 25px;
    height: 25px;
    background-color: #808080;
    border-radius: 50%;
}

.nameprofilo {
    color: white;
    font-weight: bold;
}

/**fine nav left**/
/**inizio nav top **/
.navrighttop {
    width:100%;
    height: 90px;
    background-color: rgba(8,11,18,0.8);
    z-index: 99;
}

/**inizio nav top **/

.navrighttop h2 {
    font-size: 13px;
    color: white;
    border: 1px solid white;
    padding: 15px 40px;
    border-radius: 30px;
    margin-right: 5px;
}

.navrighttop {
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
}

.navigazione {
    width: 100%;
}

.row-navigation li {
    display: inline-block;
    padding-right: 20px;
    margin-top: 20px;
}

.row-navigation li a {
    color: #7d7f84;
    font-weight: bold;
    font-size: 15px;
}

.link-navigation {
    text-align: center;
    padding-top: 100px;
}

/**fine link  navigazione**/

/**inizio corpo pagina**/
.rowcorpo {
    max-width: 100%;
    margin-left: 20px;
    margin-top: 35px;
}

.rowcorpo h2 {
    font-size: 25px;
    color: white;
    font-weight: bold;
}

.row-1 {
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}
.inevidenzia{
    height: 2px;
    width: 50px;
    margin: 0 auto;
    background-color:#adff2f;
    margin-top: 5px;
}


.box {
    width: calc(100%/6);
    margin-right: 15px;
}

.imgtitle{
    position: relative;
}

.iconplay{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
}
.fa-play{
    font-size: 40px;
    color: white;
    display: none;
}


.box img {
    width: 100%;
    display: block;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px black;
}

.title-film {
    text-align: center;
}

.jhondoe h4 {
    margin-top: 16px;
    margin-bottom: 30px;
}

.circle img {
    border-radius: 50%;
}

/** fine corpo pagina**/
/**inizio footer**/

footer {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.iconbrani {
    margin: 25px 10px;

}

.center {
    text-align: center;
    width: 40%;
}

.seconds,
.volume,
.minuteright {
    display: inline-block;
}

.seconds {
    margin-right:10px;
    font-size: 12px;
    color: white;
}

.minuteright {
    margin-left:10px;
    font-size: 12px;
    color: white;
}


.logosinister img {
    height: 45px;
    width: 45px;

}

.iconbrani ul li {
    display: inline-block;
    vertical-align: middle;
}

.nomebrano,
.iconbrani ul li img {
    vertical-align: bottom;
}

.nomebrano {
    margin-left: 10px;
}

.nomebrano h5 {
    color: white;
}

.nomebrano div {
    color: #7c7c7c;
    font-size: 11px;
    font-weight: bold;
}

.heart,
.file {
    display: inline-block;
    font-size: 16px;
    margin-right: 13px;
    color: #6d6d6d;
}

.heart {
    margin-left: 42px;
}

.fa-shuffle,
.fa-backward-step,
.fa-forward-step,
.fa-arrow-rotate-right {
    font-size: 17px;
    color: white;
    margin-left: 20px;

}

.fa-circle-play {
    font-size: 30px;
    color: white;
    margin-left: 20px;
}

.volume {
    width:79%;
    height: 5px;
    background-color: #5a5a5a;
    margin-right: 50px;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 10px;
}

.volumeleft {
    width: 85px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 10px;
}

.iconbrani ul li .free {
    height: 45px;
}

.fa-sliders,
.fa-desktop,
.fa-volume-high {
    color: white;
    font-size: 13px;
}

.volumesecondary {
    width: 120px;
    height: 5px;
    background-color: #5a5a5a;
    margin-left: 15px;
    border-radius: 10px;
}

.ciao {
    display: flex;
}


.colfooter{
    text-align: end;
}


.volumeright {
    width: 25px;
    height: 5px;
    background-color: #c1c1c1;
    border-radius: 10px;
}

/**fine footer**/

/**hover***/

.box .imgtitle:hover .fa-play{
    display: block; 
    cursor: pointer;
}

.imgtitle img:hover{
    opacity: 0.5;
}

.box:hover{
    opacity: 0.5;
    transition: 0.5s ease;
}

button h2:hover{
    font-size: 14px;
    color: green;
}

.row-navigation li a:hover{
    color: white;
    transition: 0.2s ease;
}


.text:hover{
    color: white;
    transition: 0.1s ease;
}

.plus:hover{
    background-color:  white;
}

.col-list li:hover{
    color: white;
}

.nomebrano div:hover{
    border-bottom: 2px solid white;
}

.fa-regular:hover{
    color: white;
}

.fa-circle-play:hover{
    color: green;
    cursor: pointer;
}
.fa-shuffle:hover{
    color: black;
    cursor: pointer;
}
.fa-backward-step:hover{
    color: black;
    cursor: pointer;
}
.fa-forward-step:hover{
    color: black;
    cursor: pointer;
}
.fa-arrow-rotate-right:hover{
    color: black;
    cursor: pointer;
}

.volumeleft:hover{
    background-color: #adff2f;
}

.logo img:hover{
    background-color:  green;
    border-radius: 10px;
}

/**hover**/

/**key frame**/

@keyframes animazionebottone {
    0%{transform: rotate(0deg); color: white;}
    20%{transform: rotate(10deg);color: green ;}
    40%{transform: rotate(0deg); color: white;}
    60%{transform: rotate(-10deg); color: green;}
    100%{transform: rotate(0deg); color: white;}
}

.navigazione{
    animation: main 1.2s ease;
}

@keyframes main {
    0%{
        opacity:0; background-color: black;
    }

    20%{
        opacity:0.1; background-color: black;
    }
    40%{
        opacity:0.3;background-color: black;
    }

    50%{
        opacity:0.4;background-color: black;
    }

    60%{
        opacity:0.5;background-color: black
    }
    70%{
        opacity: 0.6;
    }

    80%{
        opacity:0.7;
    }
    90%{
        opacity: 0.9;
    }

    100%{
        opacity:1;
    }
}

/**key frame**/




/**inizio responsive**/

@media screen and (max-width:1200px) {
}


/* da 0 a 992px */

@media screen and (max-width:991px) {
    hr {
        width: 150px;
        margin: 0 auto;
        margin-top: 5px;
    }

    .row-1 {
        flex-wrap: wrap;
    }

    .box {
        width: calc(100%/4.6);
        margin-top: 10px;
    }

    .volume{
        width: 60%;
    }
    .logosinister img{
        width: 40px;
        height: 40px;
    }

    .nomebrano{
        margin-left: 5px;
    }

    .heart{
        margin-right: 5px;
        margin-left: 0px;
    }
    button{
        padding-right: 180px;
    }

   
}




/* da 0 a 768 */
@media screen and (max-width: 768px) {
    .navleft {
        max-width: 230px;
    }

    hr {
        width: 150px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .row-navigation li {
        margin-bottom: 20px;
    }

    .box {
        width: calc(100%/2.2);
        margin-top: 10px;
        text-align: center;
    }

    .link-navigation {
        padding-left: 10px;
    }

    .volumeleft{
        width: 25px;
    }
    .logosinister img{
        width: 35px;
        height: 35px;
    }
    .nomebrano{
        font-size: 11px;
        width: 10px;
    }
    .responsive{
        min-width: 180px;
    }

    .heart{
        margin-left: 30px;
    }
    .fa-shuffle, .fa-backward-step,
    .fa-forward-step, .fa-arrow-rotate-right{
        font-size: 11px;
        margin-left: 10px;

    }
    .colfooter{
        width: 180px;
    }

    .volumesecondary{
        width: 80px;
        margin-left: 2px;
    }
    .heart, .file{
        margin-right: 0px;
    }

    .minuteright,.seconds{
        margin-right: 1px;
        font-size: 10px;
    }
    .minuteright{
        margin-left: 2px;
    }
    .fa-circle-play{
        margin-left: 10px;
    }
    .navrighttop{
        position: fixed;
        top: 0;
        left: 170px;
        right: 0;
        z-index: 99;
    }
    button{
        padding-right: 180px;
    }

}

/**media queries da 0 a 575px**/

@media screen and (max-width:575px) {
    .logo img {
        display: none;
    }

    .text,
    .text-color,
    .col-list,
    .plus,
    hr {
        display: none;
    }

    .home img,
    .dowloadicon {
        margin-left: 0px;
        width: 25px;
        margin-right: 0px;
    }

    .logo2 {
        display: block;
        width: 30px;
    }

    .logo2 img {
        margin: 5px 0;
        width: 25px;
    }

    .navleft {
        width: 50px;
        align-items: center;
    }

    .dowloadicon img {
        width: 15px;
        margin-left: 4px;
        margin-bottom: 15px;
    }

    .containericon {
        margin-top: 5px;
    }

    .box {
        width: calc(100%/2.4);
        margin-top: 10px;
        margin-left: 10px;

    }
    .volume{
        width:70px;
    }

    .volumeleft{
        width: 20px;
    }

    .responsive{
        min-width: 150px;
    }

    .heart,.file{
        display: block;
        margin-right: 0;
        font-size: 12px;
    }

    .iconbrani{
        margin: 25px 5px;
    }
    .logosinister img {
        width: 25px;
        height: 25px;
    }
    .nomebrano {
        width: 10px;
    }

    .medias{
        margin-left: 50px;
    }

    .volumesecondary{
        width: 45px;
        margin-left: 0px;
    }
    .free{
        height: 0px;
    }

    .heart,.file{
        display: inline-block;
    }

    .responsives{
        display: flex;
    }
    .fa-shuffle, .fa-backward-step, .fa-forward-step,
    .fa-arrow-rotate-right {
        font-size: 11px;
        margin-left: 5px;
    }

    .minuteright{
        margin-left:0px;
        font-size: 10px;
    }

    .seconds{
        margin-right: 0px;
        font-size: 10px;
    }

    .volumeright{
        width: 15px;
    }
    .fa-circle-play{
        margin-left: 5px;
    }
    .navrighttop{
        position: fixed;
        left: 45px;
        right: 0;
    }
    button{
        padding-right: 70px;
    }
    .homeleft{
        border: none;
    }
}

